# Capstone Project - Predicting Car Accident Severity in Seattle
### Applied Data Science Capstone by IBM/Coursera

## Introduction: Business Problem <a name="introduction"></a>

In this project i will try to predict the severity of a car in Seattle crash using a collision dataset. This report will be targeted to stakeholders intreseted in predicting the outcome of a car crash, for example The Seattle Polcie Department.

The severiy of a car crash can split into two groups - Property Damage only and Injury Collission. These are idetfied as 1 and 2 respectevly in the dataset.

i will use my data science knowldge that Ive gained for mthe course and outside matreials to make a Machine Learning model wit haccuracy high enough to be useful for the stakeholders.

## Data

In [1]:
#Import libraries
import pandas as pd
import numpy as np

In [2]:
#Import dataset

df = pd.read_csv("/content/Data-Collisions.csv")

df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   SEVERITYCODE           X          Y  ...  SEGLANEKEY  CROSSWALKKEY  HITPARKEDCAR
0             2 -122.323148  47.703140  ...         0.0           0.0             N
1             1 -122.347294  47.647172  ...         0.0           0.0             N
2             1 -122.334540  47.607871  ...         0.0           0.0             N
3             1 -122.334803  47.604803  ...         0.0           0.0             N
4             2 -122.306426  47.545739  ...         0.0           0.0             N

[5 rows x 38 columns]

In [3]:
df.describe()

       SEVERITYCODE             X  ...    SEGLANEKEY   CROSSWALKKEY
count  77321.000000  75173.000000  ...  77320.000000   77320.000000
mean       1.288201   -122.330932  ...    126.168262    4708.720887
std        0.452928      0.030110  ...   1777.800355   49698.842220
min        1.000000   -122.419091  ...      0.000000       0.000000
25%        1.000000   -122.349791  ...      0.000000       0.000000
50%        1.000000   -122.330723  ...      0.000000       0.000000
75%        2.000000   -122.312061  ...      0.000000       0.000000
max        2.000000   -122.238949  ...  44781.000000  631432.000000

[8 rows x 16 columns]

In [5]:
df.columns

df.set_index("OBJECTID")

          SEVERITYCODE           X  ...  CROSSWALKKEY  HITPARKEDCAR
OBJECTID                            ...
1                    2 -122.323148  ...           0.0             N
2                    1 -122.347294  ...           0.0             N
3                    1 -122.334540  ...           0.0             N
4                    1 -122.334803  ...           0.0             N
5                    2 -122.306426  ...           0.0             N
...                ...         ...  ...           ...           ...
84464                1         NaN  ...           0.0             N
84465                2 -122.312736  ...           0.0             N
84466                1 -122.363295  ...           0.0             N
84467                2 -122.365459  ...           0.0             N
84468                1 -122.346588  ...           NaN           NaN

[77321 rows x 37 columns]

In [ ]:
columns_new = ['SEVERITYCODE', 'ADDRTYPE', 'SEVERITYDESC', 'COLLISIONTYPE','PERSONCOUNT', 'VEHCOUNT', 'JUNCTIONTYPE', 'WEATHER', 'ROADCOND', 'LIGHTCOND', 'SDOTCOLNUM', 'HITPARKEDCAR']